:root {
    --first-color-light2: #785fe2;
}

/* ^^^^ Listing page ^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ */



/* --- Styles --- */

body {
    padding: 10px;
}

.nav-link {
    color: white;
    padding: 0;
}

.nav-buttons .app-button {
    background-color: var(--first-color-light2);
    border-color:  var(--first-color-light2);
}

.nav-link:hover {
    color: white;
}

.main-title {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0 0 0;
}

.sub-title {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

/* ^^^^ Listing page ^^^^ */

/* auction title */
div.auction-title {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(221, 167, 20, 0.322);
}

div.auction-title input[type="submit"] {
    position: absolute;
    top: 10%;
    right: 1%;
}

div.auction-title input[name="close_auction"] {
    background-color: rgba(255, 30, 0, 0.438);
}

div.auction-title input[name="close_auction"]:hover {
    background-color:  rgba(255, 30, 0, 0.575);
}

div.auction-title input[type="submit"][value="Remove from watchlist"] {
    background-color:  rgba(255, 30, 0, 0.438);
}

div.auction-title input[type="submit"][value="Remove from watchlist"]:hover {
    background-color:  rgba(255, 30, 0, 0.575);
}

div.auction-title input[type="submit"][value="Add to watchlist"] {
    background-color: rgba(30, 255, 0, 0.438);
}

div.auction-title input[type="submit"][value="Add to watchlist"]:hover {
    background-color: rgba(30, 255, 0, 0.678);
}

/* auction desciption */
div.section {
    border: 1px solid black;
    margin: 20px 0px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.055);
}

div.section img {
    border: 1px solid rgba(158, 157, 157, 0.514);
    margin: 0 auto 40px auto;
    display: block;
}

div.section-description div.description-title{
    font-size: 25px;
}

div.section-description {
    font-size: 16px;
    margin: 0 0 15px 0;
}

div.auction-money {
    margin: 20px 0 0 0;
}

div.auction-money div.current-price {
    font-size: 28px;
    font-weight: 630;
    margin: 0 0 5px 0;
}

div.auction-money form input[type="submit"]{
    margin: 0 0 0 10px;
    padding: 5px;
}


/* auction comments and detail */
.section-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .8rem;
}

ul.comment-section {
    margin-bottom: 2em;
}

ul.comment-section li.single-comment{
    list-style-type: none;
    border-left: 10px solid rgba(28,110,164,0.8);
    border-radius: 10px;
    background-color: rgba(189, 223, 243, 0.678);
    margin: 0 50px 20px 0;
    padding: 15px;
}

li.single-comment div.comment-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

li.single-comment div.comment-author {
    font-style: italic;
    font-weight: 400;
    font-size: 0.92em;
    margin-bottom: 3px;
}

ul.comment-section div.no-comment {
    margin-left: -30px;
}

div.comment-form {
    margin: 0 50px;
}

div.comment-form textarea {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgba(189, 223, 243, 0.185);
    /* float: right; */
    width: 100%;
    height: 150px;
}

div.comment-form input[type="submit"] {
    display:block;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* ^^^^ Error page ^^^^ */
div.error-container {
    position: relative;
    color: black;
}

div.error-code {
    position: absolute;
    left: 50%;
    top: 20%;
    margin: 20px 0px;
    color: rgba(255, 0, 0, 0.644);
    font-size: 70px
  }

div.error-message {
    position: absolute;
    left: 44%;
    top: 45%;
    margin: 20px 0px;
    font-size: 35px;
    transform: translate(0%, 10%);
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */

/* ^^^^ Listing layout ^^^^ */
div.auction-list-item {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.651);
    margin: 20px 15px;
    color: black;
}

div.auction-list-item:hover {
    color: rgba(197, 32, 32, 0.781);
}

div.auction-list-item div.auction-list-img {
    height: 100%;
    width: 10%;
    /* margin-right: 10%; */
}

div.auction-list-item img {
    margin: 4.7% 30% 4.7% 30%;
}

div.auction-list-item div.auction-list-info {
    height: 100%;
    width:auto;
    text-align: left;
}

div.auction-list-info div.auction-list-title {
    font-size: 23px;
    font-weight: bold;
    padding: 5px 20px;
}

div.auction-list-info div.auction-list-price {
    font-size: 18px;
    padding: 5px 20px;
}

div.auction-list-info div.auction-list-category {
    font-size: 15px;
    padding: 10px 20px 5px 20px;
}

div.auction-list-info div.auction-list-date {
    font-size: small;
    font-style: italic;
    padding: 3px 20px 20px 20px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */

/* ^^^^ Create listing ^^^^ */
div.create-listing-form {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.397);
    background-color: rgba(189, 223, 243, 0.185);
    padding: 40px;
    margin-top: 20px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */

/* ^^^^ User panel ^^^^ */
div.user-panel > h3 {
    margin-top: 70px;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid black;
}


/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

/* ^^^^ Listing layout ^^^^ */
@media screen and (min-width: 1215px) and (max-width: 1537px) {
    div.auction-list-item div.auction-list-img {
        margin-right: 20px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1215px) {
    div.auction-list-item div.auction-list-img {
        margin-right: 40px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    div.auction-list-item div.auction-list-img {
        margin-right: 60px;
    }
}

@media screen and (max-width: 610px) {
    div.auction-list-item div.auction-list-img {
        margin-right: 70px;
    }
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* ^^^^ Listing page ^^^^ */
@media screen and (min-width: 950px) and (max-width: 1050px) {
    div.auction-title > h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 950px) {
    div.auction-title > h2 {
        font-size: 1.6rem;
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^ */

/* ^^^^ Error page ^^^^ */
@media screen and (min-width: 1360px) and (max-width: 1550px) {
    div.error-message {
        top: 45%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1360px) {
    div.error-code {
        font-size: 65px
    }

    div.error-message {
        left: 42%;
        top: 50%; 
        font-size: 32px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    div.error-code {
        font-size: 60px
    }

    div.error-message {
        left: 42%;
        top: 55%;
        font-size: 28px;
    }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
    div.error-code {
        font-size: 55px
    }

    div.error-message {
        left: 42%;
        top: 55%;
        font-size: 23px;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
    div.error-code {
        font-size: 45px
    }

    div.error-message {
        left: 42%;
        top: 58%;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    div.error-code {
        font-size: 40px
    }
    div.error-message {
        left: 40%;
        top: 58%;
        font-size: 20px;
    }
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
