/* --- Styles --- */

body {
    padding: 10px;
}

/* ^^^^ Listing page ^^^^ */

/* auction title */
div.auction-title {
    position: relative;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(221, 167, 20, 0.322);
}

div.auction-title input[type="submit"] {
    position: absolute;
    top: 15%;
    right: 1%;
}

div.auction-title input[name="close_auction"] {
    background-color: rgba(255, 30, 0, 0.438);
}

div.auction-title input[name="close_auction"]:hover {
    background-color:  rgba(255, 30, 0, 0.575);
}

div.auction-title input[type="submit"][value="Remove from watchlist"] {
    background-color:  rgba(255, 30, 0, 0.438);
}

div.auction-title input[type="submit"][value="Remove from watchlist"]:hover {
    background-color:  rgba(255, 30, 0, 0.575);
}

div.auction-title input[type="submit"][value="Add to watchlist"] {
    background-color: rgba(30, 255, 0, 0.438);
}

div.auction-title input[type="submit"][value="Add to watchlist"]:hover {
    background-color: rgba(30, 255, 0, 0.678);
}

/* auction desciption */
div.section {
    border: 1px solid black;
    margin: 20px 0px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.055);
}

div.section img {
    border: 1px solid rgba(158, 157, 157, 0.514);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.section-description div.description-title{
    font-size: 25px;
}

div.section-description {
    font-size: 16px;
    margin: 40px 0 15px 0;
}

div.auction-money {
    margin: 20px 0 0 0;
}

div.auction-money div.current-price {
    font-size: 28px;
    font-weight: 630;
    margin: 0 0 5px 0;
}

div.auction-money form input[type="submit"]{
    margin: 0 0 0 10px;
    padding: 5px;
}


/* auction comments and detail */
.section-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .8rem;
}

ul.comment-section {
    margin-bottom: 2em;
}

ul.comment-section li.single-comment{
    list-style-type: none;
    border-left: 10px solid rgba(28,110,164,0.8);
    border-radius: 10px;
    background-color: rgba(189, 223, 243, 0.678);
    margin: 0 50px 20px 0;
    padding: 15px;
}

li.single-comment div.comment-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

li.single-comment div.comment-author {
    font-style: italic;
    font-weight: 400;
    font-size: 0.92em;
    margin-bottom: 3px;
}

ul.comment-section div.no-comment {
    margin-left: -30px;
}




/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* ^^^^ Error page ^^^^ */
div.error-container {
    position: relative;
    color: black;
}

div.error-code {
    position: absolute;
    left: 50%;
    top: 20%;
    margin: 20px 0px;
    color: rgba(255, 0, 0, 0.644);
    font-size: 70px
  }

div.error-message {
    position: absolute;
    left: 44%;
    top: 45%;
    margin: 20px 0px;
    font-size: 35px;
    transform: translate(0%, 10%);
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

/* ^^^^ Error page ^^^^ */
@media screen and (min-width: 1360px) and (max-width: 1550px) {
    div.error-message {
        top: 45%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1360px) {
    div.error-code {
        font-size: 65px
    }

    div.error-message {
        left: 42%;
        top: 50%; 
        font-size: 32px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    div.error-code {
        font-size: 60px
    }

    div.error-message {
        left: 42%;
        top: 55%;
        font-size: 28px;
    }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
    div.error-code {
        font-size: 55px
    }

    div.error-message {
        left: 42%;
        top: 55%;
        font-size: 23px;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
    div.error-code {
        font-size: 45px
    }

    div.error-message {
        left: 42%;
        top: 58%;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    div.error-code {
        font-size: 40px
    }
    div.error-message {
        left: 40%;
        top: 58%;
        font-size: 20px;
    }
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
