{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create Listing</h2>

<div class="create-listing-form">
    <form action="{% url 'auctions:create_listing' %}", method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label }}:
            <br>
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label }}:
            <br>
            {{ form.description }}
        </div>
        <div class="form-groupk">
            {{ form.category.label }}:
            <br>
            {{ form.category }}
        </div>
        <div class="form-group">
            {{ form.image_url.label }}:
            <br>
            {{ form.image_url }}
        </div>
        <button type="submit" class="btn btn-primary" aria-label="submit">Submit</button>
    </form>
</div>
{% endblock %}