{% load static %}

{% url 'auctions:index' as  index %}
{% url 'auctions:categories' category='MOT' as  motors %}
{% url 'auctions:categories' category='FAS' as  fashion %}
{% url 'auctions:categories' category='ELE' as  electronics %}
{% url 'auctions:categories' category='ART' as  art %}
{% url 'auctions:categories' category='HGA' as  home %}
{% url 'auctions:categories' category='SPO' as  sport %}
{% url 'auctions:categories' category='TOY' as  toys %}
{% url 'auctions:categories' category='BUS' as  business %}
{% url 'auctions:categories' category='MUS' as  music %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="icon" href="https://img.icons8.com/plasticine/2x/auction.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7faee5c6e1.js" crossorigin="anonymous"></script>
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link href="{% static 'auctions/sidebar.css' %}" rel="stylesheet">
    <script defer src="{% static 'auctions/sidebar.js' %}"></script>
</head>

<body>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle">
                <i class='fas fa-angle-right' id="header-toggle"></i>
            </div>
            <div class="nav-buttons">
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary btn-new-blue">
                        <a class="nav-link" href="{% url 'auctions:user_panel' %}">User Panel</a>
                    </button>
                    <button type="button" class="btn btn-primary btn-new-blue">
                        <a class="nav-link" href="{% url 'auctions:create_listing' %}">Create Listing</a>
                    </button>
                    <button type="button" class="btn btn-primary btn-new-blue">
                        <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-primary btn-new-blue">
                        <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                    </button>
                    <button type="button" class="btn btn-primary btn-new-blue">
                        <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                    </button>
                {% endif %}
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <div class="nav_logo hide-inner">
                        <span class="nav_categories">Categories</span>
                    </div>
                    <div class="nav_list">
                        <a href="{{ index }}" class="nav_link {% if request.path == index %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-border-all" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                <line x1="4" y1="12" x2="20" y2="12"></line>
                                <line x1="12" y1="4" x2="12" y2="20"></line>
                             </svg>
                            <span class="nav_name">All</span> 
                        </a>
                        <a href="{{ motors }}" class="nav_link {% if request.path == motors %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="7" cy="17" r="2"></circle>
                                <circle cx="17" cy="17" r="2"></circle>
                                <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                             </svg>
                            <span class="nav_name">Motors</span> 
                        </a>
                        <a href="{{ fashion }}" class="nav_link {% if request.path == fashion %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shirt" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M15 4l6 2v5h-3v8a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-8h-3v-5l6 -2a3 3 0 0 0 6 0"></path>
                             </svg>
                            <span class="nav_name">Fashion</span> 
                        </a>                        
                        <a href="{{ electronics }}" class="nav_link {% if request.path == electronics %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-devices-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M10 15h-6a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h6"></path>
                                <rect x="13" y="4" width="8" height="16" rx="1"></rect>
                                <line x1="7" y1="19" x2="10" y2="19"></line>
                                <line x1="17" y1="8" x2="17" y2="8.01"></line>
                                <circle cx="17" cy="16" r="1"></circle>
                                <line x1="9" y1="15" x2="9" y2="19"></line>
                             </svg>
                            <span class="nav_name">Electronics</span> 
                        </a>
                        <a href="{{ art }}" class="nav_link {% if request.path == art %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-palette" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 21a9 9 0 1 1 0 -18a9 8 0 0 1 9 8a4.5 4 0 0 1 -4.5 4h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25"></path>
                                <circle cx="7.5" cy="10.5" r=".5" fill="currentColor"></circle>
                                <circle cx="12" cy="7.5" r=".5" fill="currentColor"></circle>
                                <circle cx="16.5" cy="10.5" r=".5" fill="currentColor"></circle>
                             </svg>
                            <span class="nav_name">Collectibles & Art</span>
                        </a> 
                        <a href="{{ home }}" class="nav_link {% if request.path == home %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                             </svg>
                            <span class="nav_name">Home & Garden</span>
                        </a>
                        <a href="{{ sport }}" class="nav_link {% if request.path == sport %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bike" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="5" cy="18" r="3"></circle>
                                <circle cx="19" cy="18" r="3"></circle>
                                <polyline points="12 19 12 15 9 12 14 8 16 11 19 11"></polyline>
                                <circle cx="17" cy="5" r="1"></circle>
                             </svg>
                            <span class="nav_name">Sporting Goods</span>
                        </a>
                        <a href="{{ toys }}" class="nav_link {% if request.path == toys %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
                             </svg>
                            <span class="nav_name">Toys</span>
                        </a>                        
                        <a href="{{ business }}" class="nav_link {% if request.path == business %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-briefcase" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <rect x="3" y="7" width="18" height="13" rx="2"></rect>
                                <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="12" y1="12" x2="12" y2="12.01"></line>
                                <path d="M3 13a20 20 0 0 0 18 0"></path>
                             </svg>
                            <span class="nav_name">Business & Industrial</span>
                        </a>                        
                        <a href="{{ music }}" class="nav_link {% if request.path == music %} active {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="6" cy="17" r="3"></circle>
                                <circle cx="16" cy="17" r="3"></circle>
                                <polyline points="9 17 9 4 19 4 19 17"></polyline>
                                <line x1="9" y1="8" x2="19" y2="8"></line>
                             </svg>
                            <span class="nav_name">Music</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <div class="main-title">Auctions</div>
            {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>
            {% endif %}
            <hr>
        </div>
        <div class="height-100 bg-light">
            {% block body %}
            {% endblock %}
        </div>
    </body>

</html>