{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{auction.title}}</h1>
<form action="{% url 'auctions:watchlist' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Add to watchlist">
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="auction_id" value="{{ auction.id }}">
</form>
{% if auction.image_url %}
    <img src="{{ auction.image_url }}" alt="{{ auction.title }} photo"  width="350" height="400">
{% endif %}
<h6>{{auction.description}}</h6>
<h6>Created on: {{auction.publication_date}}</h6>
<h3>Current Price {{auction.current_price}} $</h3>
{% if bid_amount != 0 %}
    {{ bid_amount }} bid(s) so far. {{ message }}
{% else %}
    No bids so far.
{% endif %}

<h2>Details</h2>
<ul>
    <li>Listed by: {{auction.seller_id.username}}</li>
    <li>Category: {{auction.get_category_display}}</li>
</ul>
{% endblock %}