{% extends "auctions/layout.html" %}

{% block body %}
<div class="auction-title">
    <h2>{{auction.title}}</h2>

    <!-- --- Watchlist button --- -->
    {% if user.is_authenticated and user.id != auction.seller.id %}
        <form action="{% url 'auctions:watchlist' %}" method="POST">
            {% csrf_token %}
            {% if on_watchlist %}
                <input type="submit" value="Remove from watchlist">
                <input type="hidden" name="on_watchlist" value="True">
            {% else %}
                <input type="submit" value="Add to watchlist">
                <input type="hidden" name="on_watchlist" value="False">
            {% endif %}

            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="auction_id" value="{{ auction.id }}">
        </form>
    {% endif %}
    <!-- --- Close auction button --- -->
    {% if user.id == auction.seller.id %}
        <form action="{% url 'auctions:close_auction' auction_id=auction.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Close auction" name="close_auction">
        </form>
    {% endif %}
</div>

<!-- --- Auction Description --- -->
<div class="section">
    {% if auction.image_url %}
        <img src="{{ auction.image_url }}" alt="{{ auction.title }} photo"  width="350" height="400">
    {% endif %}

    <div class="section-description">
        <div class="description-title">Description:</div>
        {{auction.description}}
    </div>

    <small>Created on: {{auction.publication_date}}</small>

    <div class="auction-money">
        <div class="current-price">Current Price {{auction.current_price}} $ </div>

        <!-- --- Bid info and form --- -->
        <div class="bid-info">
            {% if bid_amount != 0 %}
                <small>{{ bid_amount }} bid(s) so far. {{ bid_message }}</small>
            {% else %}
                <small>No bids so far.</small>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <form action="{% url 'auctions:bid' %}" method="POST">
                {% csrf_token %}
                <!-- <input type="number" name="bid" placeholder="Bid" step="0.01"> -->
                {{ bid_form }}
                <input type="submit" value="Place Bid" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="auction_id" value="{{ auction.id }}">
            </form>
        {% endif %}
    </div>
</div>

<!-- --- Detail --- -->
<div class="section">
    <div class="section-title">Details</div>
    <ul>
        <li>Seller: <strong>{{auction.seller.username}}</strong></li>
        <li>Category: {{auction.get_category_display}}</li>
    </ul>
</div>

<!-- --- Comments --- -->
<div class="section">
    <div class="section-title">Comments</div>

    <ul class="comment-section">
        {% for comment in comments %}
            <li class="single-comment">

                <div class="comment-text">
                    {{ comment.comment }}    
                </div>
                <div class="comment-author">
                    ~ {{ comment.user.username }}
                </div>
                <small>{{ comment.comment_date }}</small>
            </li>
        {% empty %}
            <div class="no-comment">
                No comments yet
            </div>
        {% endfor %}
    </ul>
    <div class="comment-form">
        <form action="{% url 'auctions:handle_comment' auction_id=auction.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Comment" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}