

<a href="{% url 'auctions:listing_page' auction_id=auction.id %}" style="text-decoration: none">
    <div class="auction-list-item">
        <div class="auction-list-img">
            {% if auction.image_url %}
                <img src="{{ auction.image_url }}" alt="{{ auction.title }} photo"  width="100" height="130">
            {% endif %}
        </div>
        <div class="auction-list-info">
            <div class="auction-list-title">
                {{ auction.title }}
            </div>
            <div  class="auction-list-price">
                <strong>Price:</strong> {{auction.current_price}} $
            </div>
            <div class="auction-list-category">
                <strong>Category:</strong> {{auction.get_category_display}}
            </div>
            <div  class="auction-list-date">
                {{auction.publication_date}}
            </div>
        </div>
    </div>    
</a>
